@font-face {
  font-family: "Muller";
  src: 
    url("/fonts/Muller/MullerBold.ttf") format('truetype'),
    url("/fonts/Muller/MullerBold.woff") format('woff'),
    url("/fonts/Muller/MullerBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: optional;
}