@import './variables';
@import './fonts';
@import './reset';

* {
  box-sizing: border-box;
}

body {
  color: $--color-black;
  font-family: $--font-primary;
  font-weight: 600;
}

.container {
  max-width: 1250px;
  padding: 0 20px;
  margin: 0 auto;
}

header {  
  background: linear-gradient(to right, #3951E7, #832AB9);
}

.header {
  &-inner {
    display: flex;
    align-items: center;
  }

  &-lang {  
    margin-left: auto;
  }
}

.h3 {
  font: 700 40px/1 $--font-secondary;
}